.parent {
  display: grid;
  width: 100vw;
  height: 100vh;
  padding: 4px;
  background-color: #202020;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 2px;
}

.sign,
.num {
  font-size: 36px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.output {
  background-color: #202020;
  color: #fff;
  grid-area: 1 / 1 / 4 / 5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 12px;
  padding-right: 12px;
}

.output .previousOperand {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.output .currentOperand {
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.icon {
  width: 30px;
}

.equal {
  background-color: #4cc2ff;
  color: #000;
  grid-area: 9 / 4 / 10 / 5;
  border-radius: 5px;
}

.div25:hover {
  background-color: #47b1e9;
}

.num {
  background-color: #3b3b3b;
  border-radius: 5px;
}

.num:hover {
  background-color: #323232;
}

.sign {
  background-color: #323232;
  border-radius: 5px;
}

.sign:hover {
  background-color: #3b3b3b;
}

@media screen and (min-width: 1200px) {
  .output .currentOperand {
    font-size: 60px;
  }

  .parent button {
    font-size: 28px;
  }

  .icon {
    width: 28px;
  }
}

@media screen and (max-width: 1199px) {
  .output .currentOperand {
    font-size: 56px;
  }

  .parent button {
    font-size: 24px;
  }

  .icon {
    width: 28px;
  }
}

@media screen and (max-width: 991px) {
  .output .currentOperand {
    font-size: 48px;
  }

  .parent button {
    font-size: 20px;
  }

  .icon {
    width: 24px;
  }
}

@media screen and (max-width: 767px) {
  .output .currentOperand {
    font-size: 40px;
  }

  .parent button {
    font-size: 18px;
  }

  .icon {
    width: 22px;
  }
}

@media screen and (max-width: 576px) {
  .parent button {
    font-size: 16px;
  }

  .icon {
    width: 20px;
  }
}
